html{
    height: 100%;
    width: 100%;
}
body{
    height: 98%;
    width: 98%;
    background-image: linear-gradient(to bottom right,#F54EA2,yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: column;
    height: 97%;
    width: 97%;
    background-color: rgb(252, 251, 251);;
    border-radius: 40px;
}

.top{
    display: flex;
    justify-content: space-between;
}
.head{
    float: left;
    background-image: linear-gradient(to bottom right,#F54EA2,yellow);
    align-self: center;
    width: 180px;
    padding: 14px 0px;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
/* Dropdown Button */
.dropbtn {
    margin-top: 30px;
    margin-right: 40px;
    font-size: 25px;
    color: white;
    display: block;
    background-image: linear-gradient(to bottom right,#F54EA2,yellow);
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    opacity: 0;
    transform: translateY(-10px); /* Move it up slightly */
  transition: opacity 0.3s ease, transform 0.3s ease; 
  pointer-events: none;
    position: absolute;
  border-radius: 35px;
  min-width:80px;
  height: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;

}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    opacity: 1; /* Fade in */
  transform: translateY(0); /* Move it back to position */
  pointer-events: auto; /* Allow interaction */
}
.drop{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right,#F54EA2,yellow);
    color:white;
    font-weight: 600;
    border: none;
    
}
.drop:hover{
    height: 45px;
    width: 45px;
}

.body{
    
    margin-top: 2%;
    align-self: center;
    height: 70%;
    width: 90%;
    background-color: rgb(234, 234, 234);
    border-radius: 40px;
    display: flex;
    align-items:stretch;
}
.img{
    margin: 3%;
    margin-top: 5%;
    width: 20%;
    height: 75%;
    background-color: rgb(252, 251, 251);
    border-radius: 10%;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
